/* Write your code here: */
h1,
h2 {
  color: blueviolet;
}
.box > p {
  color: firebrick;
}

.list li {
  color: blue;
}
ul .done#items {
  color: seagreen;
  font-size: 0.5rem;
}

li.done {
  color: seagreen;
}
